$post-background: #ccf;
.post-preview{
  display:flex;
  cursor: pointer;
  color:black;
  justify-content:space-between;
  background-color: $post-background;
  opacity:0.6;
  padding: 10px;
  transition: 0.3s;
  width:100%
}
.post-preview:hover{
  opacity: 1;
}
.post-preview .title{

}
.post-preview .visitors{

}